{% extends 'base.html' %}

{% block content %}

 
</div>
      <div class='container'>
      <div class='row'>
        <div class='col'>
            
            <div class='col-md-6 col-12 mx-auto'>
               <h2>Join our professional network!</h2><br/>
          <form method='POST'> 
            {% csrf_token %}
            	<table>
			    {{ profile_form  }}
			    {{ address_form }}
			    </table><br/>

          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}

			    <div class="text-center"> 
                	<button type='submit' class='btn btn-dark'>Submit</button>
                </div>
            </form>

            </div>
        </div>
      </div>


{% endblock content %}